*{
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
.index{
    background-image: url(../img/dEOgWB.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.navbar-brand{
    width: 8rem;
    height: 8.5rem;
    

    animation: rotate ease 3s infinite;
}
@keyframes rotate {
    from{
        transform:rotateZ(360deg);
    }
}
.col-lg-2{
    display: none;
}
.active{
    color: #9C6644;
}

.nav-link{
    list-style: none;
    text-decoration-line: none;
    color: white;
    font-size: 1.3rem;
    margin: 3rem;
    margin-top: 3rem;
    padding: 2px;
    text-transform: uppercase;

}

.nav-link:hover{
    color: #9C6644;
    transition: all .3s;
}
.dropdown-menu{
    
    padding: 15px;
    background-color: #9C6644;
    list-style: none;
    text-transform: capitalize;
    font-size: 1.2rem;
}
.dropdown-item{
    display: block;
    padding: 15px;
    
}
.nav-link:hover .dropdown-item{
    display: block;

}

/*header index*/
.navbar-toggler{
    background-color: #9C6644;
}

/* main index*/
.card__image{
    width:  260px;
    height: 90%;
}

.card__container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
   
}

.card__title{
    text-transform: capitalize;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;

}
.animation:hover{
    transform: scale(1.2);
    transition: 1s;

}
.subtitle{
    text-transform: uppercase;
    font-size: 2.5rem;
    justify-content: center;
    margin: 4rem;
    padding: 1rem;
    text-align: center;
    color: white;
    border-bottom: solid 3px #9C6644;
}


.row{
    justify-content: center;
    padding: 10rem;
    row-gap: 2rem;
}
.title_form{
    text-transform: uppercase;
    font-size: 2.5rem;
    justify-content: center;
    margin: 4rem;
    padding: 1rem;
    text-align: center;
    color: white;
    border-bottom: solid 3px #B08968;
}
.section-image{
    object-fit: cover;
    
    
}

.card-body{
    background-image: url(../img/indedx.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    
}
.btn{
    margin-top: 110px;
    font-size: 2rem;
    
}


/*NOSOTROS*/


.box_info{
    display: flex;
    flex: 1 1 50%;
    padding: 2rem;
    align-items: center;
    
}

.box_text{
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
}
.box_title1{
    color: #B08968;
    font-size: 2.5rem;
    display: flex;
    text-transform: capitalize;
}
.box_text1{  
    font-size: 2rem;
    color: white;
}
.image_nosotros1{
    margin: 5rem;;
    height: 49rem;
    width: 40rem;
    flex: 1 1 50%;
    

}
.subtitle_nosotros{
    color: #B08968;
}
.image-pages{
    background-image: url(../img/image_nosotros.jpg);
    background-size: cover;
    background-position: center center;
    height: 30vh;
    
}

.title-pages{
    text-align: center;
    color:white;
    padding: 9rem;
    text-transform: uppercase;
    font-size: 3.5rem;
}
/*PAGES*/
.title-pages{
    padding: 70px;
    
}
.gallery_recital:hover{
    transform: scale(1.1);
    transition: 1s; 
}
.box_recital{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    margin: 50px;
    padding: 7rem;
}
.grid_recital{
    position:relative;
}

.gallery_recital1:hover{
    transform: scale(1.1);
    transition: 1s;
}


.gallery_recital{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.grid_recital:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 7;
}
.grid_recital:nth-child(2){
    grid-column-start: 7;
    grid-column-end: 13;
}
.grid_recital:nth-child(3){
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.grid_recital:nth-child(4){
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
}
.grid_recital:nth-child(5){
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
}
.grid_recital:nth-child(6){
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
}
.grid_recital:nth-child(7){
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;
}
.grid_recital:nth-child(8){
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}
.grid_recital:nth-child(9){
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 5;
}
.submenu{
    display: block;
    padding: 15px 20px;
}
.title-pages-galery{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: white;
    border-bottom: solid 3px  #B08968;
    text-align: center;
}

    
/*CONTACTO*/
.image-contact{
    background-image: url(../img/contact.jpg);
    background-size: cover;
    background-position: center center;
    height: 30vh;
}
.subtitle_contact{
    font-size: 2rem;
    color: white;
    justify-content: center;
    margin: 4rem;
    padding: 1rem;
    text-align: center;
    color: white;
    border-bottom: solid 3px #9C6644;
}
.form_title{
    text-transform: uppercase;
    font-size: 2rem;
    color: #B08968;
}
.form__contact{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.form{
    width: 50%;
    padding: 5rem;
}
.form_maps{
    width: 50%;
    padding: 5rem;
}


/*footer*/

#footer{
    background-color: #9C6644;
    width: 100vh;
    position: absolute;
    padding-top:40px; 
    color: white;
}
.footer-content{
    background-color: #9C6644;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-content h3{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.footer-copy{
    font-size: 1.2rem;
    text-transform: capitalize;
}
.logo{
    margin: 0.5rem;
    height: 30px;
    width: 30px;
}
.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}





    
/*Responsive*/

@media screen and (max-width: 480px){
    
    nav li{
        text-align: center;
        justify-content: center;
        margin: 2px;
        padding: 2px;
        background-color: black;
    }
    #submenu{
        padding: 0px;
        margin: 0px;
        position: absolute;
        list-style: none;
       
    }
    
    .subtitle{
        font-size: 1.5rem;
    }

    .image_form{
        height: 15vh;
        width: 480px;
    }
    
    .box_info{
        display: grid;
    }
    .image_nosotros1{
        margin: 0%;
    }
    .box_text1{
        font-size: 1.5rem;
        text-align: center;
    }
    .box_title1{
        justify-content: center;
        font-size: 2rem;
    }
    .box{
        display: grid;
    }
    .box_recital{
        display: flex;
        flex-direction: column;

    }
}
@media screen and (max-width: 600px){
    .form__contact{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .form{
        width: 100%;
        padding: 2rem;
    }
    .form_maps{
        width: 100%;
        padding: 5rem;
    }
   
    .card__container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
 
@media screen and (max-width: 990px){
    .col-lg-2{
        display: grid;
    }
    #logo{
        display: none;
    }
    nav li{
        text-align: center;
        justify-content: center;
        margin: 2px;
        padding: 2px;
        background-color: black;
    }
    .card__image{
        width:  190px;
        height: 90%;
    }
    

}
    
    


