@import "../misc/variants";
@import "../misc/mixins";

footer{
    #footer{
        background-color: map-get($map: $colors, $key:'primary');
        @include sizes(100vh, 0);
        position: absolute;
        padding-top:40px; 
        color: map-get($map: $colors, $key:'text-color');
    }
    .footer-content{
        background-color: map-get($map: $colors, $key:'primary');
        @include flex(column, center, 0);
        align-items: center;
        text-align: center;

        h3{
        text-transform: uppercase;
        font-size: $text-base;
        margin-top: 1rem;}   
    }
    .footer-copy{
        font-size: $text-small;
        text-transform: capitalize;
    }
    .logo{
        @include container(0.5rem, 0);
        @include sizes(30px, 30px);
    }
    .socials{
        @include flex(0, center, 0);
        align-items: center;
        @include container(1rem, 0);
    }
}