footer{
    #footer{
        background-color: var(--primary);
        width: 100vh;
        position: absolute;
        padding-top:40px; 
        color: white;
    }
    .footer-content{
        background-color: var(--primary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h3{
        text-transform: uppercase;
        font-size: var(--text-base);
        margin-top: 1rem;}   
    }
    .footer-copy{
        font-size: var(--text-small);
        text-transform: capitalize;
    }
    .logo{
        margin: 0.5rem;
        height: 30px;
        width: 30px;
    }
    .socials{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
    }
}