@import "../misc/variants";
@import "../misc/mixins";

.index{
    @include sizes(100%, 100vh);
    background-image: url(../img/dEOgWB.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.navbar-brand{
    @include sizes(8rem, 8.5rem);


    animation: rotate ease 3s infinite;
}
.col-lg-2{
    display: none;
}
.active{
    color: map-get($map: $colors, $key:'primary');
}

.nav-link{
    @include container(3rem, 2px);
    list-style: none;
    text-decoration-line: none;
    color: map-get($map: $colors, $key:'text-color');
    font-size: $text-small;
    margin-top: 3rem;
    text-transform: uppercase;
    &:hover{
        color: map-get($map: $colors, $key:'primary');
        transition: all .3s;
    }

}
.dropdown-menu{
    @include container(0, 15px);
    background-color: map-get($map: $colors, $key:'primary') ;
    list-style: none;
    text-transform: capitalize;
    font-size:$text-small;
    .dropdown-item{
        @include container(0, 15px);
        display: block;
        &:hover .dropdown-item{
            display: block;
        
        }
        
    }
}

.navbar-toggler{
    background-color: map-get($map: $colors, $key:'primary');
}