.index{
    background-image: url(../img/dEOgWB.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.navbar-brand{
    width: 8rem;
    height: 8.5rem;
    

    animation: rotate ease 3s infinite;
}
.col-lg-2{
    display: none;
}
.active{
    color: var(--primary);
}

.nav-link{
    list-style: none;
    text-decoration-line: none;
    color: white;
    font-size: var(--text-small);
    margin: 3rem;
    margin-top: 3rem;
    padding: 2px;
    text-transform: uppercase;
    &:hover{
        color: var(--primary);
        transition: all .3s;
    }

}
.dropdown-menu{
    
    padding: 15px;
    background-color: var(--primary);
    list-style: none;
    text-transform: capitalize;
    font-size:var(--text-small);
    .dropdown-item{
        display: block;
        padding: 15px;
        &:hover .dropdown-item{
            display: block;
        
        }
        
    }
}

.navbar-toggler{
    background-color: var(--primary);
}