@import "../misc/variants";
@import "../misc/mixins";


.encabezado{
    @include container(4rem, 1rem);
    text-transform: uppercase;
    font-size: $text-large;
    justify-content: center;
    text-align: center;
    color: map-get($map: $colors, $key:'primary');

}

.card{ 
    @include flex(row, center, 1rem);
    background-color: black;

    &__image{
        @include sizes(260px, 90%)
    }
    &__title{
        text-transform: capitalize;
        color: map-get($map: $colors, $key:'text-color');
        @include flex(row, center, 0px);
        background-color: map-get($map: $colors, $key:'base');
        &-active {
            @extend .card__title;
            color: map-get($map: $colors, $key:'primary');
        }
    
    }
    .animation:hover{
        transform: scale(1.2);
        transition: 1s;
    
    }

}
.subtitle_index{
    @include container(4rem, 1rem);
    text-transform: uppercase;
    font-size: $text-large;
    justify-content: center;
    text-align: center;
    color: map-get($map: $colors, $key:'text-color');
    border-bottom: solid 3px #9C6644;
}


.row{
    justify-content: center;
    padding: 10rem;
    row-gap: 2rem;
}
.title_form{
    @include container(4rem, 1rem);
    text-transform: uppercase;
    font-size: $text-large;
    justify-content: center;
    text-align: center;
    color: map-get($map: $colors, $key:'text-color');
    border-bottom: solid 3px #B08968;
}
.section-image{
    object-fit: cover;
    
    
}

.card-body{
    background-image: url(../img/indedx.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    @include sizes(100%, 40vh);

    .btn{
        margin-top: 110px;
        font-size: $text-medium;
        
    }
    
}
