@media screen and (max-width: 990px){
    .col-lg-2{
        display: grid;
    }
    #logo{
        display: none;
    }
    nav li{
        text-align: center;
        justify-content: center;
        margin: 2px;
        padding: 2px;
        background-color: var(--base);
    }
    .card__image{
        width:  190px;
        height: 90%;
    }
    

}
@media screen and (max-width: 600px){
   
    .card{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width: 480px){
    .card{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}