@mixin flex($direction, $justify, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    gap: $gap; 
}
@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}
@mixin container($margin, $padding) {
    margin: $margin;
    padding: $padding;
    
}
@mixin grid($temp-column, $temp-row, $gap) {
    grid-template-columns: $temp-column; 
    grid-template-rows: $temp-row;
    gap: $gap;
    
}