@import "../misc/variants";
@import "../misc/mixins";
/*normalize*/

*{
    @include container(0px, 0px);

}
html{
    font-size: 62.5%;
}

body{
    font-family: $principal;
    background-color: black;
}
